page-summary {
    ion-content {
        .summary {
            font-family: Helvetica;
            font-size: 1.25em;
        }
        .title {
            font-size: 2em;
            font-weight: bold;
            font-family: Helvetica;
        }
    }

}
